.header-section {
    height: 150px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #363636;
    text-align: center;
    display: flex;
}

.footer-section {
    height: 40px;
    width: 100vw;
    background-color: #363636;
    position: absolute;
    bottom: 0;
    align-content: center;
}

.footer-section .footer-msg {
    font-size: 18px;
    margin: 0px;
    color: #b9c2c6;
}

.header-logo {
    width: 85px;
    height: 85px;
    align-self: center;
    margin-left: 30px;
}

.header-back {
    display: none;
}


.cart-logo {
    filter: invert(100%);
    width: 40px;
    height: 45px;
    align-self: center;
    position: fixed;
    right: 30px;
}

.header-content {
    align-self: center;
    margin-left: 30px;
    flex-direction: column;
    display: flex;
}


.header-content .title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
}

.header-content .subtitle {
    font-size: 15px;
    margin-top: -25px;
    font-weight: bold;
    color: #fff;
}

.button-lang-en,
.button-lang-ar {
    background-color: transparent;
    border: 1px transparent;
    color: #e5be07;
    font-size: 16px;
    height: 30px;
    font-weight: bold;
    position: fixed;
    right: 30px;
    top:15px
}

.button-lang-en:hover,
.button-lang-en.active,
.button-lang-ar:hover,
.button-lang-ar.active,
.button-lang-en::selection,
.button-lang-ar::selection {
    background-color: #e5be07;
    opacity: 50;
    border: 1px transparent;
    border-radius: 3px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: underline;
}

.button-lang-en{
    right: 70px;
}