.header-section {
    height: 150px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #363636;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer-section {
    height: 40px;
    width: 100vw;
    background-color: #363636;
    position: absolute;
    bottom: 0;
    align-content: center;
}

.footer-section .footer-msg {
    font-size: 18px;
    margin: 0px;
    color: #b9c2c6;
}

.header-logo {
    width: 85px;
    height: 85px;
    align-self: center;
    margin: 25px;
    flex: 0;
}

.header-back {
    display: none;
}

.header-content {
    align-self: center;
    margin: 10px;
    flex-direction: column;
    display: flex;
    flex: 2;
}


.header-content .title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
}

.header-content .subtitle {
    font-size: 15px;
    margin-top: -25px;
    font-weight: bold;
    color: #fff;
}

.header-menus {
    width: 200px;
    height: 150px;
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
}

.cart-logo-container {
    width: 200px;
    position: absolute;
    height: 46px;
    justify-content: center;
    margin-top: 15px;
    align-self: center;
    display: flex;
}

.cart-logo {
    filter: invert(100%);
    width: 40px;
}

.cart-count{
    background-color: #ffd92e ;
    width: 22px;
    height: 22px;
    color: black;
    border-radius: 25px;
    font-size: 9px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 10;
    margin: 10px;
    margin-left: 50px;
    
}

.setting-logo {
    filter: invert(100%);
    width: 34px;
    height: 34px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.cart-logo:hover,
.setting-logo:hover,
.cart-logo::selection,
.setting-logo::selection {
    filter: invert(50%);
    color: #ffd92e;
}

.header-lang {
    max-width: 100px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.button-lang-en,
.button-lang-ar {
    background-color: transparent;
    border: 1px transparent;
    color: #ffd92e;
    font-size: 16px;
    height: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    margin: 20px;
}

.button-lang-en:lang(en) {
    margin-right: 70px;
}

.button-lang-en:lang(ar) {
    margin-left: 70px;
}

.button-lang-en:hover,
.button-lang-en.active,
.button-lang-ar:hover,
.button-lang-ar.active,
.button-lang-en::selection,
.button-lang-ar::selection {
    background-color: #ffd92e;
    opacity: 50;
    border: 1px transparent;
    border-radius: 3px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: underline;
}

.button-primary {
    background-color: #ffd92e;
    border: 1px transparent;
    color: black;
    font-size: 16px;
    height: 50px;
    border-radius: 25px;
    min-width: 150px;
    font-weight: bold;
}

.button-primary:hover,
.button-primary.active,
.button-primary::selection {
    background-color: rgb(112, 108, 92);
    color: white;
}

.button-small-primary {
    background-color: #ffd92e;
    border: 1px transparent;
    color: black;
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    width: 30px;
    font-weight: bold;
}

.button-small-primary:hover,
.button-small-primary::selection {
    background-color: rgb(112, 108, 92);
    border: 1px solid black;
    color: white;
}

.input-primary{
    border: 1px solid rgba(158, 129, 0, 0.935);
    padding: 4px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-align: center;
}

